@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dirección<br />
    Aquí su dirección<br />
    <abbr title="Teléfono">P:</abbr>
    22222222
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>