
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel de Tareas para Instructor</h2>

<div class="row">
    <div class="col-md-6">
        <h2>Agregar Clientes</h2>
        <p>En esta sección, podrá agregar Clientes y ver sus detalles</p>

        <p><a class="btn btn-default" href="~/Personas">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Ver Horario</h2>
        <p>En esta sección, podrá editar el Horario y sus detalles</p>
        @*<img src="img/icons/clienteImg.png" class="img-responsive" />*@
        <p><a class="btn btn-default" href="~/Horarios">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Gestión de pagos</h2>
        <p>En esta sección, podrá ver los clientes morosos y su respectiva membresía</p>
        @*<img src="img/icons/schedule.jpg" class="img-responsive" />*@
        <p><a class="btn btn-default" href="~/Pagos">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Agregar Rutinas a un cliente</h2>
        <p>En esta sección, puede agregar rutinas, editar su contenido y asignarlas a un cliente</p>
        @*<img src="img/icons/schedule.jpg" class="img-responsive" />*@
        <p><a class="btn btn-default" href="~/Rutinas">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Agregar a las Rutinas Ejercicios</h2>
        <p>En esta sección, puede agregar una serie de ejercicios a una rutina específica</p>
        @*<img src="img/icons/schedule.jpg" class="img-responsive" />*@
        <p><a class="btn btn-default" href="~/Ejercicios">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Agregar Ejercicios</h2>
        <p>En esta sección, puede agregar ejercicios, modificarlos y eliminarlos</p>
        @*<img src="img/icons/schedule.jpg" class="img-responsive" />*@
        <p><a class="btn btn-default" href="~/Ejercicios">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Ingresar medidas a un cliente</h2>
        <p>En esta sección, puede escojer el cliente y agregar sus medidas</p>
        @*<img src="img/icons/schedule.jpg" class="img-responsive" />*@
        <p><a class="btn btn-default" href="~/Medidas">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>

