
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel Administrativo</h2>

<div class="row">
    <div class="col-md-6">
        <h2>Agregar Personas</h2>
        <p>En esta sección, podrá agregar Clientes, Instructores y Administradores, además de editar su información y eliminar</p>
        
        <p><a class="btn btn-default" href="~/Personas">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Ver Horario</h2>
        <p>En esta sección, podrá editar el Horario, Ver detalles o agregar nuevos eventos</p>
        @*<img src="img/icons/clienteImg.png" class="img-responsive" />*@
        <p><a class="btn btn-default" href="~/Horarios">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
    @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Gestión de pagos</h2>
        <p>En esta sección, podrá ver los clientes morosos, editar las membresías, entre otras cosas.</p>
        @*<img src="img/icons/schedule.jpg" class="img-responsive" />*@
        <p><a class="btn btn-default" href="~/Pagos">Ir &raquo;</a></p>
    </div>
    <div class="col-md-2">
        @*<img src="img/icons/ProfilePic.jpg" class="img-responsive" />*@
    </div>
</div>


